@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-primaryBg font-roboto text-primaryText;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.nav-link,
.logo {
  @apply font-poppins;
}

h1 {
  @apply text-primary;
}

/*Buttons*/

.button-primary {
  @apply rounded-md border border-primary bg-primary px-8 py-3  text-white;
}

.button-primary:hover {
  @apply bg-teal-500;
}

.button-secondary {
  @apply rounded-md border border-primaryText bg-primaryBg px-8 py-3 text-primaryText;
}

.button-secondary:hover {
  @apply bg-primaryText bg-opacity-10;
}

.button-extra {
  @apply rounded-md border-2 border-primary bg-primaryBg px-4 py-2 text-primaryText;
}

.button-extra:hover {
  @apply bg-primary text-white;
}

.button-red {
  @apply rounded bg-red-500 px-4 py-2 text-white;
}

.button-red:hover {
  @apply bg-red-700;
}

.button-small {
  @apply px-3 py-2;
}
.link-button {
  @apply rounded px-3 py-2 text-lg text-primaryText transition duration-200;
}

.link-button:hover {
  @apply bg-primary text-white;
}

.link-button-small {
  @apply text-sm;
}

/*Inputs*/
@layer components {
  .input-base {
    @apply mt-1 block w-full rounded-md border border-gray-300 px-3 py-2 shadow-sm focus:border-primary focus:outline-none focus:ring-primary;
  }

  .textarea-base {
    @apply mt-1 block w-full rounded-md border border-gray-300 px-3 py-2 shadow-sm focus:border-primary focus:outline-none focus:ring-primary;
  }

  .label-base {
    @apply mb-1 block text-lg font-semibold text-gray-700;
  }
}

.card {
  @apply bg-cardBg;
}

.border-secondary {
  @apply border-secondaryText;
}

/*Modal styles*/
.react-responsive-modal-modal {
  max-width: 100%;
  max-width: 500px;
  min-height: 500px;
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  background: #ffffff;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.25);
  margin: 1.2rem;
  padding: 2rem;
  position: relative;
  overflow-y: auto;
  min-height: 500px;
}

/*Calendar*/

.selected-day {
  @apply bg-accent text-primaryText;
}
