@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-primaryBg text-primaryText font-roboto;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.nav-link,
.logo {
  @apply font-poppins;
}

h1 {
  @apply text-primary;
}

.button-primary {
  @apply bg-primary text-white font-semibold py-4 px-8  mb-4 rounded-md;
}

.button-secondary {
  @apply bg-primaryBg text-primaryText border border-primaryText  py-4 px-8 rounded-md;
}

.button-extra {
  @apply bg-primaryBg border-primary text-primaryText border-2 py-2 px-4 rounded-md;
}

.button-red {
  @apply bg-red-500 text-white p-2 rounded;
}

.card {
  @apply bg-cardBg;
}

.border-secondary {
  @apply border-secondaryText;
}

/*Modal styles*/
.react-responsive-modal-modal {
  max-width: 100%;
  max-width: 500px;
  min-height: 500px;
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  background: #ffffff;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.25);
  margin: 1.2rem;
  padding: 2rem;
  position: relative;
  overflow-y: auto;
  min-height: 500px;
}

/*Calendar*/

.selected-day {
  @apply bg-accent text-primaryText;
}
